
.navbar{
    width: 90%;
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    padding: 2em 5em;
    font-family: 'Work Sans', sans-serif;
    position: fixed;
}

.navbar__name{
    color: var(--cor-branca);
    display: flex;
    font-size: 20px;
}

.navbar__name-destaque{
    color: var(--cor-secundaria);
}

.navbar__links{
    display: flex;
    gap: 2em;
    font-size: 17px;
}

.navbar__links-item{
    color: var(--cor-cinza);
    text-decoration: none;
    cursor: pointer;
}

.navbar__links-item:hover{
    color: var(--cor-secundaria);
    transition: 0.3s;
}