@import "./reset.css";
@import "./components/NavBar/navbar.css";
@import "./components/Banner/banner.css";
@import "./components/Sobre Mim/sobreMim.css";
@import "./components/Projetos/projetos.css";
@import "./components/Habilidades/habilidades.css";
@import "./components/Contato/contato.css";
@import "./components/Footer/footer.css";

/* Tema Dark (Seu padrão original) */
:root,
[data-theme="dark"] {
  --cor-primaria: #080c16;
  --cor-secundaria: #00e6e6;
  --cor-branca: #ffffff;
  --cor-cinza: #94a3b8;
  --cor-preta: #000000;
  --cor-card: #10172b;
  --border-opacity: 0.5;
}

/* Tema Light (Inversão de tons) */
[data-theme="light"] {
  --cor-primaria: #f0f4f8; /* Fundo claro */
  --cor-secundaria: #008b8b; /* Azul um pouco mais escuro para leitura */
  --cor-branca: #080c16; /* O que era branco vira a cor do seu fundo dark */
  --cor-cinza: #475569; /* Cinza mais escuro para contraste */
  --cor-preta: #ffffff; /* Inverte o preto */
  --cor-card: #ffffff; /* Cards brancos ou levemente cinzas */
  --border-opacity: 0.2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Isso garante que o padding não aumente o tamanho da caixa */
}

/* Transição suave para todo o site ao trocar de tema */
body {
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
