@import "./reset.css";
@import "./components/NavBar/navbar.css";
@import "./components/Banner/banner.css";
@import "./components/Sobre Mim/sobreMim.css";
@import "./components/Projetos/projetos.css";
@import "./components/Habilidades/habilidades.css";
@import "./components/Contato/contato.css";
@import "./components/Footer/footer.css";

:root {
  --cor-primaria: #080c16;
  --cor-secundaria: #00e6e6;

  --cor-branca: #ffffff;
  --cor-cinza: #94a3b8;
  --cor-preta: #000000;
  --cor-card: #10172b;

  --border-opacity: 0.5;
}

body {
  background-color: var(--cor-primaria);
}
